<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adroits.smartmedcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="com.adroits.smartmedcare.application.ElearnApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.adroits.smartmedcare.MainActivity" />
        <activity
            android:name="com.adroits.smartmedcare.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adroits.smartmedcare.CourseCatelogActivity"
            android:label="@string/title_activity_course_catelog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.adroits.smartmedcare.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.adroits.smartmedcare.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adroits.smartmedcare.MainActivity" />
        </activity>
        <activity
            android:name="com.adroits.smartmedcare.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName="com.adroits.smartmedcare.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adroits.smartmedcare.MainActivity" />
        </activity>
        <activity
            android:name="com.adroits.smartmedcare.CourseActivity"
            android:label="@string/title_activity_course"
            android:parentActivityName="com.adroits.smartmedcare.CourseCatelogActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adroits.smartmedcare.CourseCatelogActivity" />
        </activity>
        <provider android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->
            <!--<data android:scheme="@string/fb_login_protocol_scheme" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>